@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500;700&display=swap');

* { 
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background: #24273E;
	font-family: Yanone Kaffeesatz;	
}

header {
	background: white;
	padding: 20px;
	font-size: 50px;
	
}

header > h1 {
	color: #24273E;
	text-align: center;
	font-family: Yanone Kaffeesatz;
}

.box {
	position: relative;
	border: 3px solid white ;
	width: 200px;
	margin: 30px auto;
	border-radius: 10px;
	padding: 15px 20px;
	text-align: center;
	color: white;
	font-size: 50px;
	
}

.names {
	background: #44273E;
	border-radius: 10px;
	font-size: 20px;
	width: 100px;
	padding: 3px 7px;
	
}

#user-name {
	position: absolute;
	top: 35%;
	left: -25%;
}

#comp-name {
	position: absolute;
	top: 35%;
	right: -25%;
}

.result {
	color: white;
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	
}

.choices {
	text-align: center;
	padding: 10px;
	
}

.choice {
	text-align:center;
	display: inline-block;
	border: 5px white solid;
	border-radius: 50%;
	padding: 20px 15px;
	margin: 10px 5px; 
	transition: 0.3s ease;
	
}

.choice:hover{
	cursor: pointer;
	background: #24274E;
}


#msg {
	text-align: center;
	font-weight: bold;
	font-size: 35px;
	margin: 40px 200px;
	color: white;
	
}


.togreen {
	border: 5px solid #4dcc7d;
	box-shadow: 0 0 10px #31b43a;
	
}

.tored {
	border: 5px solid #fc121b;
	box-shadow: 0 0 10px #d01115;
	
}

.togrey {
	border: 5px solid #464647;
	box-shadow: 0 0 10px #25292b;
	
}



